
body{
  margin-left: auto;
  margin-right: auto;
}
nav, footer {
    background-color: #1e6a83;
    font-family: 'Roboto';
    min-height: 9vh;

  }
 
  .menu{
    position: absolute;
    right: 0;
    padding: 10px;
   
  }
  .dv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
  }
  .about{
    min-height: 80vh;
    max-height: max-content;
  }
  .title{
    padding: 10px;
  }
    
  main {
    min-height:90vh;
  }
    
  footer {
    color:white;
  }

  #intro, #skills, #projects, #about, footer {
    padding-top: 2.75em;
    padding-bottom: 2.75em;
  }

  #skills
  {
    padding-left:35%;padding-right:35%;
    min-height: 90vh;
  }

  #intro {
    background: radial-gradient(circle, rgb(222, 255, 228) 0%, rgb(128, 178, 235) 100%);
    padding-top: 4.5em;
  }

  #skills {
    background: radial-gradient(circle, rgb(193, 233, 236) 0%, rgb(142, 162, 235) 100%, rgb(175, 191, 238) 100%, rgba(116,128,167,1) 100%);
    background: radial-gradient(circle, rgb(180 208 247) 0%, rgb(93 134 147) 100%, rgb(175, 191, 238) 100%, rgba(116,128,167,1) 100%);
    padding-top: 4.5em;
    min-width: 100%;
    min-height: 90vh;
  }

  .progress {
    width:100%;
    height: 1.5rem;
    
    
  }
  .bar {
    background-color: #1e6a83;
    color: aliceblue;
    text-align: center;
    font-size: 1.19em;
    height:2.5vh;
  }
  #typed-title-loc {
    color:#00afaf;
  }

  #profile-pic {
    max-width:350px;
  }
  
  #projects{
    background-color: #4c9797;
    background-color: #a3d3dd;
    color: white;
  }
  
  #projects a {
    color:white;
   
  }
  
  #projects i {
    font-size: 3em;
  }

  h2
  {
    font-family:"Source Code Pro";
    font-weight:bold
  }

  label{
    font-family:"Source Code Pro";
    font-size: 1.4em;
  }
  p{
    font-family:"roboto";
    font-size: 1.2em;
  }
  